* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** 
* Breakpoints: 
*   Mobile:   375px
*   Desktop: 1440px
*/

:root {
  --neutral: #ffffffff;
  --neutral-200: #d5d4d9ff;
  --neutral-300: #aeaeb7ff;
  --neutral-600: #3d3b5eff;
  --neutral-700: #312f4bff;
  --neutral-800: #272541ff;
  --neutral-900: #03012dff;
  
  --orange-500: #ff7c0a;

  --blue-700: #2d1c9cff;
  --blue-600: #3e52a3;
  --blue-500: #4455daff;
  
  --font-size: 18px;
  --font-bricolage: Bricolage Grotesque; /* 700 */
  --font-dmSans: DM Sans; /* 300, 500, 600, 600i, 700 */
}

body {
  width: 100%;
  max-width: 100vw;
  font-size: 18px;
  font-family: var(--font-dmSans), sans-serif;
  min-height: 100vh;
  background-color: var(--neutral-900);
  color: var(--neutral);
  display: grid;
  grid-template-rows: header main footer;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: var(--blue-600); 
}

.attribution a:hover {
  color: var(--orange-500);
}


#logo img {
  height: 2em;
  width: auto;
}

.card-today {
  width: 100%;
  height: 16em;
  background-color: var(--neutral-800);
  border-radius: 20px;
  margin: 1.5em 0;
}

main {
  grid: main;
  max-width: 100vw;
}

@media(max-width: 375px) {
  main.loaded .card-today {
    background: var(--neutral-800) url("../images/bg-today-small.svg") no-repeat center;
    background-size: cover;
  }
}
@media(min-width: 376px) {
  main.loaded .card-today {
    background: var(--neutral-800) url("../images/bg-today-large.svg") no-repeat left;
    background-size: cover;
  }
}


.weather-cards-group {

  padding: 1.5em 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
  gap: 24px;
}

@media(max-width: 587px) {
  .weather-cards-group {
    justify-content: center;
  }
}


.card {
  max-width: 184px;
  height: 7.5rem;
  padding: 1rem 0 .75rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 10em;

  background-color: var(--neutral-800);
  color: var(--neutral-200);

  border: 1px solid var(--neutral-700);
  border-radius: 12px;
}

.card p {
  font-size: 24px;
  color: var(--neutral);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  padding: 1rem;
  grid: header;
}

h1 {
  text-align: center;
  font-family: var(--font-bricolage);
  font-weight: 700;
}

#search {
  width: 29.2em;
  height: 3em;
  font-size: 20px;
  display: inline-block;
  border-radius: 12px;
  border: 0;
  padding-left: 3em;
  padding-right: 1em;
  background-color: var(--neutral-800);
  color: var(--neutral);
}

#search::placeholder {
  font-size: 20px;
  color: var(--neutral-200);
}

#searcher {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 16px;
  padding: 2em 1em;
  width: 100%;
  max-width: 655px;
}

@media(max-width: 608px) {
  #searcher {
    flex-wrap: wrap;
  }
}

/* #searcher::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: calc( 50% - 17rem);
  transform: translateY(-50%);
  background: url("../images/icon-search.svg") no-repeat center;
} */

#search-button {
  height: 3rem;
  flex: 1 1 6.3em;
  max-width: 29.2em;
  border-radius: 12px;
  background-color: var(--blue-500);
  font-size: 20px;
  color: var(--neutral);
  padding: 0 15px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
}

#search-button:hover   {
  background-color: var(--blue-700);
}

.left-content {
  max-width: 45em;
  width: 100%;
}


aside {
  display: inline-block;
}

footer {
  display: block;
  grid: footer;
}

#daily-cards {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
}

.daily-card {
  width: 102px;
  height: 10em;
  border: 1px solid var(--neutral-700);
  background-color: var(--neutral-800);
  border-radius: 12px;
}

.weather-ref {
  width: 100px;
  height: 100px;
}

.overcast {
  background: url("../images/icon-overcast.webp") center no-repeat;
  background-size: contain;
}
.partly-cloudy {
  background: url("../images/icon-partly-cloudy.webp") center no-repeat;
  background-size: contain;
}
.rain {
  background: url("../images/icon-rain.webp") center no-repeat;
  background-size: contain;
}
.drizzle {
  background: url("../images/icon-drizzle.webp") center no-repeat;
  background-size: contain;
}

.snow {
  background: url("../images/icon-snow.webp") center no-repeat;
  background-size: contain;
}
.storm {
  background: url("../images/icon-storm.webp") center no-repeat;
  background-size: contain;
}
.sunny {
  background: url("../images/icon-sunny.webp") center no-repeat;
  background-size: contain;
}
.fog {
  background: url("../images/icon-fog.webp") center no-repeat;
  background-size: contain;
}

.week-day-ref, .temp-ref {
  padding: .5rem;
}

.temp-ref {
  display: flex;
  justify-content: space-between;
  align-items: center;
}