* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** 
* Breakpoints: 
*   Mobile:   375px
*   Desktop: 1440px
*/

:root {
  --neutral: hsl(0, 0%, 100%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-900: hsl(243, 96%, 9%);
  
  --orange-500: hsl(28, 100%, 52%);

  --blue-700: hsl(248, 70%, 36%);
  --blue-500: hsl(233, 67%, 56%);
  
  --font-size: 18px;
  --font-bricolage: Bricolage Grotesque; /* 700 */
  --font-dmSans: DM Sans; /* 300, 500, 600, 600i, 700 */
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--neutral-900);
  color: var(--neutral);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.card {
  background-color: var(--neutral-700);
  display: inline-block;
  width: 100px;
}

button {
  background-color: var(--blue-500);
}

header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  vertical-align: center;
  padding: 1rem 0;
}

h1 {
  text-align: center;
}