details {
  position: relative;
  height: 42px;
  width: 120px;

  display: inline-block;
  z-index: 10;
  background-color: var(--neutral-800);
  border-radius: 8px;
  cursor: pointer;
}

details[open] > summary::after {
  transform: scale(-1) translateY(50%);
}

details[open] .dropdown-card {
  position: absolute;
  top: calc(100% + .25rem); 
  left: auto;
  right: 0;
  
  background-color: var(--neutral-800);
  border-radius: 8px;
  padding: 2px 4px;
  width: 220px;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
  z-index: 20; 
}

summary {
    position: relative; /* Opcional: Garante que o summary fique sobre o card se eles se sobrepuserem */
    list-style-type: none; /* Hides the default marker */
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 21;
    text-align: center;
}

summary::-webkit-details-marker { /* For WebKit browsers */
  display: none;
}

summary::before,
summary::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

summary::before {
  left: 0.75rem;
  background-image: url("../images/icon-units.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

summary::after {
  right: 0.75rem;
  background-image: url("../images/icon-dropdown.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

#toggle-system {
  border: 1px solid var(--neutral);
  box-sizing: border-box;
  border-radius: 8px;
  width: calc(220px - 8px);
  padding: .5rem;
  display: inline-block;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}

fieldset {
  border: 0;
  border-bottom: 1px solid var(--neutral-300);
  padding-bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

fieldset:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}

input[type="radio"] {
  appearance: none;
}

input[type="radio"]:checked::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  transform: translateY(50%);
  right: 4px;
  display: block;
  background: transparent url("../images/icon-checkmark.svg") no-repeat center;
}

label:has(input[type="radio"]:checked) {
  background-color: var(--neutral-600);
  border-radius: 8px;
}

details label {
  position: relative;
  cursor: pointer;
}

details legend {
  font-size: 12px;
  color: var(--neutral-300);
  cursor: default;
}

label, legend {
  padding: .5rem;
}
